$icon-font-path: '../fonts/';

// bower:scss
@import "bootstrap.scss";
// endbower

@import 'vars';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
}

/* Space out content a bit */
body {
  background-color: $body-bg;
}

img {
  max-width: $screen-sm;
}

header {
  background-image: url('../images/tintron_hero.jpg');
  height: 550px;
  background-size: cover;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  padding: 410px 15px 0;

  font-family: 'Oswald';
  letter-spacing: 1px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.2rem;
  }

  @media (min-width: $screen-sm +1) {
      padding: 180px 15px;
      max-height: 1100px;
      height: calc(100% - 110px);
      background-position-x: 0px;
      background-repeat: no-repeat;

    h1 {
      text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
      color: $red;
      font-size: 4rem;
      margin-bottom: 40px;
    }

    h1 span, h2 span{
      //background-color: rgba(255,255,255,0.4);
      //padding: 5px 15px;
    }

    h2 {
      color: $black;
      font-size: 1.9rem;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

      span {
        padding: 10px 15px;
      }
    }

  }
}
nav {
  letter-spacing: 0.5px;
  width: 100%;
  padding: $medium-spacing $small-spacing;
  font-family: $sans-sarif-font;
  font-weight: 300;
  background-color: rgba(255,255,255, 0.95);
  transition: opacity 0.5s, padding 0.5s;
  text-align: center;
  margin: 0;

  @media (min-width: $screen-sm +1) {
    //position: fixed;
    //top: 0;
    padding: $big-spacing*2 $small-spacing;
  }

  a {
    cursor: pointer;
  }

  img {
    width: 270px;
    margin-bottom: $tiny-spacing;
    @media (min-width: $screen-sm) {
      width: 234px;
      margin-left: $small-spacing;
      margin-bottom: 0;
      opacity: 0;
    }
  }

  ul {
    @include clearfix;
    padding: 0;
    list-style: none;
    margin-bottom: 0;

    @media (max-width: $screen-sm) {
      padding: 0 16px;

    }

    li {
      display: inline-block;
      text-transform: uppercase;
      margin: $tiny-spacing;
      padding: 0 $tiny-spacing;
      display: inline-block;

      a {
        color: black;
      }

      &:last-of-type {
        margin-right: 15px;
      }

      &.separator {
        &:before {
          content: "♥";
        }
        color: rgba($red, 0.8);
      }
    }
  }

  body.scrolling & {
    padding: $medium-spacing $tiny-spacing;
    position: fixed;
    top: 0;
    z-index: 10;

    //img {
    //  transition: opacity 1s;
    //  opacity: 1;
    //}
  }
}

article {
  background-color: $white;
  display: block;
  width: 100%;
  height: 100%;

  body.scrolling & {
    margin-top: $big-spacing*5;
  }
}

section {
  background-color: $off-white;
  text-align: center;
  font-family: $serif-font;
  padding: ($big-spacing*2) $big-spacing;

  @media (min-width: $screen-sm) {
    padding: $big-spacing ($mega-spacing * 3);
  }

  img {
    margin: $big-spacing 0;
  }


  &.alt {
    background-color: $white;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $sans-sarif-font;
    margin-bottom: $big-spacing*2;
  }

  > .container {
    padding: $big-spacing;
    max-width: 100%;
  }

  p {
    text-align: center;
    font-family: $serif-font;
    font-size: 15px;
    line-height: 26px;

    + p {
      margin-top: $big-spacing*2;
    }
  }
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-cell {
  flex: 1 auto;
}

.gallery {
  @extend .flex-row;
  margin: $big-spacing*2 0;
  justify-content: flex-end;

  .photo-item {
    @extend .flex-cell;
    flex-grow: initial;
    margin-bottom: $big-spacing;
    width: 320px;
    height: 320px;
    margin-right: $big-spacing;
    border: $medium-spacing solid $white;
    overflow: hidden;
    background-size: cover;
    opacity: 0.8;
    cursor: pointer;

    @media (max-width: $screen-sm) {
      width: 120px;
      height: 120px;
      border-width: 10px;
    }

    &:hover {
      opacity: 1;
    }
  }
}


.info-legend {
  @extend .flex-row;
  text-transform: uppercase;
  border: 2px dotted $off-black;
  border-left: 0;
  border-right: 0;
  padding-top: $tiny-spacing;

  .flex-cell {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: $medium-spacing $tiny-spacing;
    span {
      margin-right: $tiny-spacing;
    }
  }
}

.info-content {
  @extend .flex-row;
  text-align: left;

  h3 {
    margin-top: $mega-spacing;
  }

  span.glyphicon {
    margin-right: $tiny-spacing;
    color: white;
    border-radius: 30px;
    background-color: $red;
    padding: 8px;
    font-size: 12px;
    position: relative;
    top: -2px;
  }

  p {
    text-align: left;
  }

  .flex-cell {
    flex: 1 1;
    padding-right: $big-spacing;
    min-width: 40%;
    text-align: center;
    p {
      text-align: center;
    }
  }

  .info-content-details {
    padding-right: $mega-spacing * 2;
  }

  @media (max-width: $screen-sm) {
    text-align: center;
    padding-right: 0;

    p {
      text-align: center;
    }

    .flex-cell {
      flex: 1 auto;
    }
    .info-content-details {
      padding-right: 0;
      width: 100%;
    }
  }



  .info-content-map {
    margin-top: $mega-spacing;

    img {
      width: 100%;
      max-width: 786px;
      padding: 0;
      margin: 0;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

}



form {
  margin: $huge-spacing 0;
  text-align: left;


  //input[type='text'], textarea, select {
  //  @extend .form-control;
  //  font-family: $sans-sarif-font;
  //}

  label {
    margin-right: $medium-spacing;
  }

  input[type='checkbox'] {
    width: auto;
    height: auto;
    box-shadow: none;
  }

  input[type="submit"] {
    background-color: lighten($black, 20%);
    color: $white;
    text-transform: uppercase;
  }

  .has-error label {
    color: darkred;
  }

  .flex-cell {
    flex: 1 auto;
    margin-right: $huge-spacing;
  }

  textarea.form-control {
    height: 220px;
  }

  .checkbox {
    margin-top: -$medium-spacing;
  }
}

.form-group {
  margin-bottom: $huge-spacing;

  label {
    text-transform: uppercase;
    font-family: $sans-sarif-font;
    color: #444;
    letter-spacing: 1px;
    font-size: 1.3rem;
  }
}

.is-red {
  color: $red;
  font-weight: bold;
}

.btn {
  padding: $tiny-spacing $medium-spacing;
  background-color: $green;
  color: $white;

  &:hover {
    color: $white;
    background-color: lighten($green, 5%);
  }
}
