// fonts

$serif-font: 'Arvo';
$sans-sarif-font: 'Oswald';

// spacing

$tiny-spacing: 5px;
$small-spacing: 10px;
$medium-spacing: 15px;
$big-spacing: 20px;
$huge-spacing: 30px;
$mega-spacing: 40px;


// colors

$black: #000;
$off-black: #444;
$white: #fff;
$off-white: #f6f6f6;
$red: #DE2222;
$dark-red: #8C1616;
$green: green;
$nav-bg: #E8E8E8;
$alt-bg: #F5F5F5;
$body-bg: $white;
